<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.customerservice/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.customerservice.screen.user/UserBrowse.caption"/>
        <item screen="Customer.browse" caption="msg://com.company.customerservice.screen.customer/customerBrowse.menu"/>
        <item screen="Loan.browse" caption="msg://com.company.customerservice.screen.loan/loanBrowse.menu"/>
        <item screen="Guarantors.browse"
              caption="Guarantors"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>

</menu-config>